@defer (when this.programationService.gamesSelected().length) {
<div class="row">
  @for (game of this.programationService.gamesSelected(); track game.id) {
  <div class="col-md-6">
    <app-card-game [game]="game"></app-card-game>
  </div>
  }@empty {
  <h5>Lo sentimos, no existen partidos en este estadio con la fecha establecida!</h5>
  }
</div>
}@placeholder(minimum 500ms) {
<section class="row">
  <div class="col-md-6 mb-3">
    <div class="card placeholder-glow">
      <span class="placeholder col-12" style="height: 170px;"></span>
    </div>
  </div>
  <div class="col-md-6 mb-3">
    <div class="card placeholder-glow">
      <span class="placeholder col-12" style="height: 170px;"></span>
    </div>
  </div>
  <div class="col-md-6 mb-3">
    <div class="card placeholder-glow">
      <span class="placeholder col-12" style="height: 170px;"></span>
    </div>
  </div>
  <div class="col-md-6 mb-3">
    <div class="card placeholder-glow">
      <span class="placeholder col-12" style="height: 170px;"></span>
    </div>
  </div>
</section>
}
